.App {
  text-align: center;
  background-image: linear-gradient( grey, black, black);
  margin: 0;
  padding: 2em;
  color: azure;
  height: 100%;
  flex-flow: wrap;

}

.main {
  display: flex;
  justify-content: space-between;
  min-height: 92vh;
  flex-flow: wrap;
  width: auto;
  
}
.my-name {
  font-size: 80px;
  font-family: sans-serif;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.centre {
  
  text-align: center;
  margin: auto;
  
}

.footer {
  padding: 2px;
}
